ul {
    list-style: none;
}

.blog-list-item {
    background: white;
    margin: 3rem;
    padding: 1rem;
    border: 2px black solid;
    border-radius: 5px;
    filter: drop-shadow(-7px 7px 4px grey);
}